{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block description %}Sign up to myBudget.com - track your finances and avoid overspending!{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <section class="container-fluid square my-4 py-4">
			
        <form class="col-sm-10 col-md-8 col-lg-6 mx-auto my-2 py-3" method="post" action="/signup/create" id="signupForm">
				
            <div class="row justify-content-around">
				
                <div class="col-sm-8">
					
                    <div class="input-group mt-3">
                        <div class="input-group-prepend px-1 pt-1 inputIcon">
                            <i class="icon-user"></i>
                        </div>
                        <input class="form-control  userInput" type="text" name="userName" placeholder="name" value="{{ user.userName }}" required >
                    </div>
					
					<div class="text-danger text-left mt-1 pl-1 error" id="nameError" >
					
						{% if user.validationErrors['nameE1'] is defined %}
							<li>{{ user.validationErrors['nameE1'] }}</li>
						{% endif %}
						
						{% if user.validationErrors['nameE2'] is defined %}
							<li>{{ user.validationErrors['nameE2'] }}</li>
						{% endif %}
						
						{% if user.validationErrors['nameE3'] is defined %}
							<li>{{ user.validationErrors['nameE3'] }}</li>
						{% endif %}
						
					</div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend px-1 pt-1 inputIcon">
                            <i class="icon-mail-alt"></i>
                        </div>
                        <input class="form-control  userInput" type="email" name="email" placeholder="email@address.com" value="{{ user.email }}" required >
                    </div>
					
					<div class="text-danger text-left mt-1 pl-1 error" id="emailError" >
					
						{% if user.validationErrors['emailE1'] is defined %}
							<li>{{ user.validationErrors['emailE1'] }}</li>
						{% endif %}
						
						{% if user.validationErrors['emailE2'] is defined %}
							<li>{{ user.validationErrors['emailE2'] }}</li>
						{% endif %}
						
					</div>
						
                    <div class="input-group mt-3">
                        <div class="input-group-prepend px-1 pt-1 inputIcon">
                            <i class="icon-lock"></i>
                        </div>
                        <input class="form-control  userInput" type="password" id="password1" name="password" placeholder="password" value="{{ user.password }}" required >
                    </div>

                    <div class="input-group mt-3">
                        <div class="input-group-prepend px-1 pt-1 inputIcon">
                            <i class="icon-lock"></i>
                        </div>
                        <input class="form-control  userInput" type="password" id="password2" name="passwordConfirm" placeholder="confirm password" required >
                    </div>
					
					<div class="text-danger text-left mt-1 pl-1 error" id="passwordError" >
					
						{% if user.validationErrors['passwordE1'] is defined %}
							<li>{{ user.validationErrors['passwordE1'] }}</li>
						{% endif %}
						
						{% if user.validationErrors['passwordE2'] is defined %}
							<li>{{ user.validationErrors['passwordE2'] }}</li>
						{% endif %}
						
						{% if user.validationErrors['passwordE3'] is defined %}
							<li>{{ user.validationErrors['passwordE3'] }}</li>
						{% endif %}
						
					</div>
						
                    <button class="btn btn-lg mt-3 mb-2 signButton" type="submit">
                        <i class="icon-user-plus"></i> Sign up
                    </button>
					
                    <div class="mt-2">
                        Already have an account? <a href="">Sign in!</a>
                    </div>
					
            </div>
				
        </form>
			
    </section>
	
	{% if is_registered %}
		<script type="text/javascript">$(document).ready(function(){ $('#registrationModal').modal('show'); });</script>
	{% endif %}
	
	<div class="modal fade" id="registrationModal" role="dialog">
		<div class="modal-dialog col">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Successful Registration</h3>
					<a href="/signup/new">
						<button type="button" class="close">&times;</button>
					</a>
				</div>
															
				<div class="modal-body">
					<p>Thank you for registration! You can now sign in.</p>
				</div>
				<div class="modal-footer">
					<a href="">
						<button type="button" class="btn signButton">Sign in</button>
					</a>
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block links %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous"></script>
	
	<script>
        $.validator.addMethod('validName',
			function(value, element, param) {
				if (value != '') {
					if (value.match(/^[A-Za-z]+$/)) {
						return true;
					}
				}
				return false;
			},
			'Name must contain letters only, special characters not allowed.'
		);
		
		$.validator.addMethod('validPassword',
			function(value, element, param) {
				if (value != '') {
					if (value.match(/.*[a-z]+.*/i) == null) {
						return false;
					}
					if (value.match(/.*\d+.*/) == null) {
						return false;
					}
				}
				return true;
			},
			'Password must contain at least one letter and at least one number.'
		);
		
		$(document).ready(function() {
            $('#signupForm').validate({
				errorElement: 'li',
                rules: {
                    userName: {
                        required: true,
                        minlength: 2,
                        maxlength: 20,
						validName: true
                    },
                    email: {
                        required: true,
                        email: true,
						remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 50,
						validPassword: true
                    },
					passwordConfirm: {
						required: true,
						equalTo: '#password1'
					}
                },
				messages: {
					userName: {
						required: 'Name is required.',
						minlength: 'Name needs to be between 2 to 20 characters.',
						maxlength: 'Name needs to be between 2 to 20 characters.'
					},
					email: {
						required: 'E-mail adress is required.',
						email: 'Please enter a valid e-mail adress.',
						remote: 'An account with this e-mail adress already exists.'
					},
					password: {
						required: 'Password is required.',
						minlength: 'Password needs to be between 8 to 50 characters.',
						maxlength: 'Password needs to be between 8 to 50 characters.'
					},
					passwordConfirm: {
						required: 'Password is required.',
						equalTo: 'Passwords you have entered does not match.'
					}
				},
				errorPlacement: function(error,element){
					if(element.attr('name') == 'userName') {
						error.appendTo('#nameError');
					}
					if(element.attr('name') == 'email') {
						error.appendTo('#emailError');
					}
					if(element.attr('name') == 'password' element.attr('name') == 'passwordConfirm') {
						error.appendTo('#passwordError');
					}
				}	
            });
        });
    </script>

{% endblock %}


