{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    
    {{ parent() }}
    
    <section class="container-fluid mt-2" id="menuBg">
        
        <div class="row justify-content-around align-self-center">
            <img class="img-fluid col-lg-9" src="/css/img/menuBG.png" alt="" />
            <div class="overlay">
                <h3 class="name py-2 square">Hello {{ current_user.username }} !</h3>
            </div>
        </div>
        
    </section>
    
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

