
.icon-login:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-dollar:before { content: '\e807'; } /* '' */
.icon-money-1:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */