html {
    position: relative;
    min-height: 100%;
    min-width: 320px;
}

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("/css/img/white_wave.png");
    color: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-bottom: 60px;
}

#title {
    font-size: 3em;
}

#logo {
    color: #ff9900;
    font-weight: 700;
}

#subtitle {
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    letter-spacing: 0.3px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: 400;
}

.square {
    text-align: center;
    background-color: rgba(217, 217, 217, 0.3);
}

.tile {
    height: 100%;
    color: #595959;
    font-size: 0.95em;
    background-color: #d2ff4d;
    border-radius: 5px;
    line-height: 1;
    -webkit-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    -moz-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
}

.bigIcon {
    font-size: 3.5em;
}

.tile:hover {
    background-color: #ccff33;
}

figcaption {
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Baloo Paaji 2', cursive;
}

.option {
    border-radius: 5px;
    line-height: 1.3;
    font-size: 0.95em;
    letter-spacing: 0.5px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    -moz-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
}

.signButton {
    background-color: #ffa31a;
    letter-spacing: 1px;
    border-style: none;
}

.signButton:hover {
    background-color: #ff9900;
}

.footer {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
}

#homeButton {
    text-decoration: none;
    color: #404040;
}

.userInput {
    font-size: 1.2em;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px !important;
    box-sizing: border-box;
}

.inputIcon {
    font-size: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #d5ff80;
}

.userInput:focus {
    outline: none !important;
    border: 2px solid #b3b3b3;
    box-shadow: 0 0 10px #b3b3b3;
}

ul.error > li {
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 500;
    list-style: none;
}

ul.error > li:before {
    content: "✖ ";
}

.reveal {
    font-size: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f2f2f2;
}

button.reveal:focus {
    border: 2px solid #b3b3b3;
    box-shadow: 0 0 10px #b3b3b3;
}

#menuBg {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(242, 242, 242, 0.5);
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
}

.name {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.6em;
    color: #595959;
}

a.nav-link,
a.dropdown-item,
.dateButton > button {
    color: #595959 !important;
    font-size: 1.05em !important;
    line-height: 150% !important;
}

ul {
    width: 100%;
}

ul > li.nav-item,
.dateButton > button {
    background-color: white;
    border-radius: 5px;
}

.dateButton > button:hover,
ul > li.nav-item:hover {
    background-color: #d5ff80;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
}

ul > li.disabled {
    background-color: #d5ff80;
    font-weight: 700;
    pointer-events: none;
}

h6,
a.dropdown-item {
    background-color: white;
    border-bottom: 1px solid #b3b3b3;
}

a.dropdown-item:hover {
    background-color: #e6ffb3;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
    min-width: 100%;
    text-align: center;
}

.navbar-toggler {
    background-color: #ff9900;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

@media (max-width: 767px) {
    #title {
        font-size: 2.5em;
    }
}
