html {
    position: relative;
    min-height: 100%;
    min-width: 320px;
}

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("/css/img/white_wave.png");
    color: #404040;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-bottom: 60px;
}

#title {
    font-size: 3em;
}

#logo {
    color: #fba100;
    font-weight: 700;
}

#subtitle {
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    letter-spacing: 0.3px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: 400;
}

.square {
    text-align: center;
    background: rgba(198, 203, 210, 0.5);
    border-radius: 10px;
}

.tile {
    height: 100%;
    color: white;
    font-size: 0.95em;
    background-color: #73bfa7;
    border-radius: 5px;
    line-height: 1;
    -webkit-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    -moz-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
}

.bigIcon {
    font-size: 3.5em;
}

.tile:hover {
     background-color: #62b79c;
}

figcaption {
    margin-top: 10px;
}

.option {
    border-radius: 5px;
    line-height: 1.3;
    font-size: 0.95em;
    letter-spacing: 0.5px;
    background-color: rgba(242, 242, 242, 0.5);
    -webkit-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    -moz-box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
    box-shadow: 7px 10px 21px -16px rgba(17,18,17,1);
}

.signButton {
    background-color: #ffa31a;
    letter-spacing: 1px;
    border-style: none;
}

.signButton:hover {
    background-color: #fba100;
}

.footer {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
}

#homeButton {
    text-decoration: none;
    color: #404040;
}

.userInput {
    font-size: 1.2em;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px !important;
    box-sizing: border-box;
}

.inputIcon {
    font-size: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #96cfbd;
}

.userInput:focus {
    outline: none !important;
    border: 2px solid #b3b3b3;
    box-shadow: 0 0 10px #b3b3b3;
}

ul.error > li {
    font-size: 0.9em;
    letter-spacing: 1px;
    list-style: none;
    font-weight: 600;
}

ul.error > li:before {
    content: "✖ ";
}

.reveal {
    font-size: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f2f2f2;
}

button.reveal:focus {
    border: 2px solid #b3b3b3;
    box-shadow: 0 0 10px #b3b3b3;
}

#menuBg {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
}

.name {
    font-size: 1.6em;
    font-weight: 600;
    color: #6c648b;
}

a.nav-link,
a.dropdown-item,
.dateButton > button {
    font-size: 1.05em !important;
    line-height: 150% !important;
    color: #595959 !important;
}

ul {
    width: 100%;
}

.dateButton > button {
    background-color: rgba(107, 186, 167, 0.6);
    border-radius: 5px;
}

ul > li.nav-item {
    background-color: transparent;
    border-radius: 5px;
}

.dateButton > button:hover,
ul > li.nav-item:hover {
    -webkit-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
}

ul > li.disabled {
    background-color: #418b7a;
    pointer-events: none;
}

li.disabled > a.nav-link {
    color: white !important;
}

h6,
a.dropdown-item {
    background-color: #b9dfd5;
}

a.dropdown-item:hover {
    -webkit-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 2px rgba(255,255,255,1);
}

a.dropdown-item:active {
    background-color: #b9dfd5;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
    min-width: 100%;
    text-align: center;
}

.navbar-toggler {
    background-color: #fba100;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.labeledInput {
    font-size: 0.9em;
    resize: none;
}

.inputLabel {
    background-color: #c7c4d4;
}

.menu {
    text-align: center;
    background-color: rgba(107, 186, 167, 0.6);
}

table {
    background-color: rgba(255, 255, 255, 0.7);
    border-collapse:separate; 
    border-spacing: 0 8px;
    border-radius: 5px;
}

caption {
    text-align: center;
    caption-side: top;
    background: rgba(108, 100, 139, 0.5);
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #404040;
}

th {
    text-align: left;
    font-size: 1.05em;
    overflow: hidden;
    overflow-wrap: normal;
    border-bottom: 1px solid #b3b3b3;
}

td.amount,
td.sum,
td.date {
    white-space: nowrap;
}

td {
    text-align: left;
    font-size: 0.85em;
    border-right: 1px solid #b3b3b3;
}

td.comment {
    border: none;
}

tr.summary > td {
    font-size: 0.95em;
    font-weight: 700;
    border: none;
}

.amount,
td.sum {
    text-align: right;
}

tr:last-child {
    color: #fba100;
}

.box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

#balance {
    font-weight: 700;
}

#result {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.timePeriod {
    position: relative;
}

.dateButton > button:focus {
    box-shadow: none;
}

.modal {
    min-width: 300px;
    overflow:  auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
    ul > li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 767px) {
    #title {
        font-size: 2.5em;
    }
}

@media (min-width: 767px) {
    .dateButton {
        position: absolute;
        top: 0;
        right: 0;
    }
}
