{% extends "base-settings.html" %}

{% block title %}
    Profile
{% endblock %}

{% block onload %}
    signForm(); manageModal()
{% endblock %}

{% block settings %}
    
    <div class="col bg-light text-left mx-1 mt-4 mt-sm-0 mx-sm-0 py-3 px-2 pl-sm-5">
        
        <label class="pl-3 font-weight-bold" for="currentName">Name</label>
        <div class="col-lg-6 input-group mx-0">
            <input class="form-control" id="currentName" type="text" value="{{ current_user.username }}" disabled >
            <div class="input-group-append">
                <button class="btn signButton" type="button" id="editButton" data-name="{{ current_user.username }}" data-toggle="modal" data-target="#editNameModal"><i class="icon-edit"></i></button>
            </div>
        </div>
        
        <label class="pl-3 mt-3 font-weight-bold" for="currentEmail">E-mail</label>
        <div class="col-lg-6 input-group">
            <input class="form-control" id="currentEmail" type="text" value="{{ current_user.email }}" disabled >
            <div class="input-group-append">
                <button class="btn signButton" type="button"><i class="icon-edit"></i></button>
            </div>
        </div>
        
        <label class="pl-3 mt-3 font-weight-bold" for="currentPassword">Password</label>
        <div class="col-lg-6 input-group">
            <input class="form-control" id="currentPassword" type="text" value="••••••••" disabled >
            <div class="input-group-append">
                <button class="btn signButton" type="button" id="editButton" data-toggle="modal" data-target="#editPasswordModal"><i class="icon-edit"></i></button>
            </div>
        </div>

    </div>

    <div class="modal fade" role='dialog' id="editNameModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h3 class="modal-title">Editing Username</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <form class="col" method="post" action="/settings/edit-username">
                    
                    <div class="modal-body">
                        
                        <div class="row py-1 text-left">
                            
                            <div class="col">

                                <p class="text-muted">Please enter new name and your current password.</p>

                                <div class="form-group mb-0 mt-2 text-left">
                                    <label class="font-weight-bold">Name</label>
                                    <input class="form-control  userInput" type="text" name="userName" placeholder="name" value="{{ current_user.username }}" required >

                                    <ul class="text-danger text-left mt-1 pl-1 error nameError">
                            
                                        {% if user.validationErrors['nameE1'] is defined %}
                                            <li>{{ user.validationErrors['nameE1'] }}</li>
                                        {% endif %}
                                        
                                        {% if user.validationErrors['nameE2'] is defined %}
                                            <li>{{ user.validationErrors['nameE2'] }}</li>
                                        {% endif %}
                                        
                                        {% if user.validationErrors['nameE3'] is defined %}
                                            <li>{{ user.validationErrors['nameE3'] }}</li>
                                        {% endif %}
                                        
                                    </ul>

                                </div>

                                <div class="form-group mb-0 mt-2 text-left">
                                    <label class="font-weight-bold">Current Password</label>
                                    <div class="input-group">
                                        <input class="form-control userInput password" type="password" name="currentPassword" placeholder="current password" value="{{ user.currentPassword }}" required >
                                        <button class="btn reveal" type="button"><i class="icon-eye" id="toggler"></i></button>
                                    </div>

                                    <ul class="text-danger text-left mt-1 pl-1 error currentPasswordError">
                            
                                        {% if user.validationErrors['password'] is defined %}
                                            <li>{{ user.validationErrors['password'] }}</li>
                                        {% endif %}
                                        
                                    </ul>

                                </div>

                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button class="btn signButton" type="submit">Save</button>
                        <button type="button" class="btn signButton" data-dismiss="modal">Cancel</button>
                    </div>
                    
                </form>
                
            </div>
            
        </div>
        
    </div>

    <div class="modal fade" role='dialog' id="editPasswordModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h3 class="modal-title">Editing Password</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <form class="col" method="post" action="/settings/edit-password">
                    
                    <div class="modal-body">
                        
                        <div class="row py-1 text-left">

                            <div class="col">
                            
                                <p class="text-muted">Please enter your current password and new password.</p>

                                <div class="form-group mb-0 mt-2 text-left">
                                    <label class="font-weight-bold">Current Password</label>
                                    <div class="input-group">
                                        <input class="form-control userInput" type="password" name="currentPassword" placeholder="current password" value="{{ user.currentPassword }}" required >
                                    </div>

                                    <ul class="text-danger text-left mt-1 pl-1 error currentPasswordError">
                            
                                        {% if user.validationErrors['password'] is defined %}
                                            <li>{{ user.validationErrors['password'] }}</li>
                                        {% endif %}
                                        
                                    </ul>

                                </div>

                                <div class="form-group mb-0 mt-2 text-left">
                                    <label class="font-weight-bold">New Password</label>
                                    <div class="input-group">
                                        <input class="form-control userInput password" type="password" id="password" name="password" placeholder="new password" value="{{ user.password }}" required >
                                        <button class="btn reveal" type="button"><i class="icon-eye" id="toggler"></i></button>
                                    </div>

                                    <ul class="text-danger text-left mt-1 pl-1 error passwordError">
                            
                                        {% if user.validationErrors['passwordE1'] is defined %}
                                            <li>{{ user.validationErrors['passwordE1'] }}</li>
                                        {% endif %}
                                        
                                        {% if user.validationErrors['passwordE2'] is defined %}
                                            <li>{{ user.validationErrors['passwordE2'] }}</li>
                                        {% endif %}
                                        
                                    </ul>

                                </div>

                                <div class="form-group mb-0 mt-2 text-left">
                                    <label class="font-weight-bold">Confirm Password</label>
                                    <div class="input-group">
                                        <input class="form-control userInput" type="password" name="passwordConfirm" placeholder="confirm password" required >
                                    </div>

                                    <ul class="text-danger text-left mt-1 pl-1 error passwordConfirmError">
                            
                                        {% if user.validationErrors['passwordE3'] is defined %}
                                            <li>{{ user.validationErrors['passwordE3'] }}</li>
                                        {% endif %}
                                        
                                    </ul>

                                </div>

                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button class="btn signButton" type="submit">Save</button>
                        <button type="button" class="btn signButton" data-dismiss="modal">Cancel</button>
                    </div>
                    
                </form>
                
            </div>
            
        </div>
        
    </div>

    {% if user.userName is not null and user.validationErrors is not empty %}

        <script type="text/javascript">
            $(document).ready(function() {

                $('input[name="userName"]').val('{{ user.userName }}');
                $('#editNameModal').modal('show');
            });
        </script>

    {% endif %}

    {% if user.password is not null and user.validationErrors is not empty %}

        <script type="text/javascript">
            $(document).ready(function() {

                $('input[name="password"]').val('{{ user.password }}');
                $('input[name="currentPassword"]').val('{{ user.currentPassword }}');
                $('#editPasswordModal').modal('show');
            });
        </script>

    {% endif %}
    
{% endblock %}

{% block links %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous"></script>
    <script src="/js/mybudget.js"></script>
    
{% endblock %}
