{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    
    <section class="container-fluid square my-4 py-4">
        
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto my-2 py-3">
            
            <h4 class="text-danger"><i class="icon-attention"></i> An error occurred</h4>
            
            <p>Sorry, something went wrong. Please try again later.</p>
            
        </div>
        
    </section>
    
{% endblock %}
